<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CardID</key>
		<string>1001</string>
		<key>CardName</key>
		<string>Peashooter</string>
		<key>CardChineseName</key>
		<string>豌豆射手</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>100</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1002</string>
		<key>CardName</key>
		<string>SunFlower</string>
		<key>CardChineseName</key>
		<string>向日葵</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>50</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1003</string>
		<key>CardName</key>
		<string>CherryBomb</string>
		<key>CardChineseName</key>
		<string>樱桃炸弹</string>
		<key>CD</key>
		<string>50</string>
		<key>Cost</key>
		<string>150</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1004</string>
		<key>CardName</key>
		<string>Wall-Nut</string>
		<key>CardChineseName</key>
		<string>坚果墙</string>
		<key>CD</key>
		<string>30</string>
		<key>Cost</key>
		<string>50</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1005</string>
		<key>CardName</key>
		<string>PotatoMine</string>
		<key>CardChineseName</key>
		<string>土豆雷</string>
		<key>CD</key>
		<string>30</string>
		<key>Cost</key>
		<string>25</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1006</string>
		<key>CardName</key>
		<string>SnowPea</string>
		<key>CardChineseName</key>
		<string>寒冰射手</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>175</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1007</string>
		<key>CardName</key>
		<string>Chomper</string>
		<key>CardChineseName</key>
		<string>食人花</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>150</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1008</string>
		<key>CardName</key>
		<string>Repeater</string>
		<key>CardChineseName</key>
		<string>双发射手</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>200</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1009</string>
		<key>CardName</key>
		<string>Puff-Shroom</string>
		<key>CardChineseName</key>
		<string>小喷菇</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>0</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1010</string>
		<key>CardName</key>
		<string>Sun-Shroom</string>
		<key>CardChineseName</key>
		<string>阳光菇</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>25</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1011</string>
		<key>CardName</key>
		<string>Fume-Shroom</string>
		<key>CardChineseName</key>
		<string>大喷菇</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>75</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1012</string>
		<key>CardName</key>
		<string>Grave</string>
		<key>CardChineseName</key>
		<string>墓碑苔藓</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>75</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1013</string>
		<key>CardName</key>
		<string>Hypno-Shroom</string>
		<key>CardChineseName</key>
		<string>诱惑菇</string>
		<key>CD</key>
		<string>30</string>
		<key>Cost</key>
		<string>75</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1014</string>
		<key>CardName</key>
		<string>Scaredy-Shroom</string>
		<key>CardChineseName</key>
		<string>胆小菇</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>25</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1015</string>
		<key>CardName</key>
		<string>Ice-Shroom</string>
		<key>CardChineseName</key>
		<string>寒冰菇</string>
		<key>CD</key>
		<string>50</string>
		<key>Cost</key>
		<string>75</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1016</string>
		<key>CardName</key>
		<string>Doom-Shroom</string>
		<key>CardChineseName</key>
		<string>核弹菇</string>
		<key>CD</key>
		<string>50</string>
		<key>Cost</key>
		<string>125</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1017</string>
		<key>CardName</key>
		<string>LilyPad</string>
		<key>CardChineseName</key>
		<string>睡莲</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>25</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1018</string>
		<key>CardName</key>
		<string>Squash</string>
		<key>CardChineseName</key>
		<string>窝瓜</string>
		<key>CD</key>
		<string>30</string>
		<key>Cost</key>
		<string>50</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1019</string>
		<key>CardName</key>
		<string>Threepeater</string>
		<key>CardChineseName</key>
		<string>三管豌豆</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>325</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1020</string>
		<key>CardName</key>
		<string>TangleKelp</string>
		<key>CardChineseName</key>
		<string>缠绕海草</string>
		<key>CD</key>
		<string>30</string>
		<key>Cost</key>
		<string>25</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1021</string>
		<key>CardName</key>
		<string>Jalapeno</string>
		<key>CardChineseName</key>
		<string>火爆辣椒</string>
		<key>CD</key>
		<string>50</string>
		<key>Cost</key>
		<string>125</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1022</string>
		<key>CardName</key>
		<string>Spikeweed</string>
		<key>CardChineseName</key>
		<string>棘草</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>100</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1023</string>
		<key>CardName</key>
		<string>Torchwood</string>
		<key>CardChineseName</key>
		<string>火炬树桩</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>175</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1024</string>
		<key>CardName</key>
		<string>Tall-Nut</string>
		<key>CardChineseName</key>
		<string>高坚果</string>
		<key>CD</key>
		<string>30</string>
		<key>Cost</key>
		<string>125</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1025</string>
		<key>CardName</key>
		<string>Sea-Shroom</string>
		<key>CardChineseName</key>
		<string>海蘑菇</string>
		<key>CD</key>
		<string>30</string>
		<key>Cost</key>
		<string>0</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1026</string>
		<key>CardName</key>
		<string>Plantern</string>
		<key>CardChineseName</key>
		<string>路灯花</string>
		<key>CD</key>
		<string>30</string>
		<key>Cost</key>
		<string>25</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1027</string>
		<key>CardName</key>
		<string>Cactus</string>
		<key>CardChineseName</key>
		<string>仙人掌</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>125</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1028</string>
		<key>CardName</key>
		<string>Blover</string>
		<key>CardChineseName</key>
		<string>三叶草</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>100</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1029</string>
		<key>CardName</key>
		<string>SplitPea</string>
		<key>CardChineseName</key>
		<string>裂荚豌豆</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>125</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1030</string>
		<key>CardName</key>
		<string>Starfruit</string>
		<key>CardChineseName</key>
		<string>杨桃</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>125</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1031</string>
		<key>CardName</key>
		<string>Pumpkin</string>
		<key>CardChineseName</key>
		<string>南瓜头</string>
		<key>CD</key>
		<string>30</string>
		<key>Cost</key>
		<string>125</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1032</string>
		<key>CardName</key>
		<string>Magnet-Shroom</string>
		<key>CardChineseName</key>
		<string>磁力菇</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>100</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1033</string>
		<key>CardName</key>
		<string>Cabbage-Pult</string>
		<key>CardChineseName</key>
		<string>卷心菜投手</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>100</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1034</string>
		<key>CardName</key>
		<string>FlowerPot</string>
		<key>CardChineseName</key>
		<string>花篮</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>25</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1035</string>
		<key>CardName</key>
		<string>Kernet-Pult</string>
		<key>CardChineseName</key>
		<string>玉米投手</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>100</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1026</string>
		<key>CardName</key>
		<string>Coffee-Bean</string>
		<key>CardChineseName</key>
		<string>咖啡豆</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>75</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1037</string>
		<key>CardName</key>
		<string>Garlic</string>
		<key>CardChineseName</key>
		<string>大蒜</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>50</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1038</string>
		<key>CardName</key>
		<string>UmbrellaLeaf</string>
		<key>CardChineseName</key>
		<string>莴苣</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>100</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1039</string>
		<key>CardName</key>
		<string>Marigold</string>
		<key>CardChineseName</key>
		<string>金银花</string>
		<key>CD</key>
		<string>30</string>
		<key>Cost</key>
		<string>50</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1040</string>
		<key>CardName</key>
		<string>Melon-Pult</string>
		<key>CardChineseName</key>
		<string>西瓜投手</string>
		<key>CD</key>
		<string>7.5</string>
		<key>Cost</key>
		<string>300</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1041</string>
		<key>CardName</key>
		<string>GatlingPea</string>
		<key>CardChineseName</key>
		<string>机枪豌豆</string>
		<key>CD</key>
		<string>50</string>
		<key>Cost</key>
		<string>250</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1042</string>
		<key>CardName</key>
		<string>TwinSunFlower</string>
		<key>CardChineseName</key>
		<string>双子向日葵</string>
		<key>CD</key>
		<string>50</string>
		<key>Cost</key>
		<string>150</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1043</string>
		<key>CardName</key>
		<string>Gloom-Shroom</string>
		<key>CardChineseName</key>
		<string>忧郁菇</string>
		<key>CD</key>
		<string>50</string>
		<key>Cost</key>
		<string>150</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1044</string>
		<key>CardName</key>
		<string>Gattail</string>
		<key>CardChineseName</key>
		<string>香蒲</string>
		<key>CD</key>
		<string>50</string>
		<key>Cost</key>
		<string>225</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1045</string>
		<key>CardName</key>
		<string>WinterMenlon</string>
		<key>CardChineseName</key>
		<string>冰冻西瓜</string>
		<key>CD</key>
		<string>50</string>
		<key>Cost</key>
		<string>200</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1046</string>
		<key>CardName</key>
		<string>GoldMagnet</string>
		<key>CardChineseName</key>
		<string>吸金磁</string>
		<key>CD</key>
		<string>50</string>
		<key>Cost</key>
		<string>50</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1047</string>
		<key>CardName</key>
		<string>Spiker</string>
		<key>CardChineseName</key>
		<string>地刺石</string>
		<key>CD</key>
		<string>50</string>
		<key>Cost</key>
		<string>125</string>
	</dict>
	<dict>
		<key>CardID</key>
		<string>1048</string>
		<key>CardName</key>
		<string>CobCannon</string>
		<key>CardChineseName</key>
		<string>玉米加农炮</string>
		<key>CD</key>
		<string>50</string>
		<key>Cost</key>
		<string>500</string>
	</dict>
</array>
</plist>
